.how-row {
    display: flex; 
    justify-content: space-evenly; 
    flex-direction: row; 
    padding: 50px 50px; 
    @media (max-width: 600px) {
        flex-direction: column; 
        align-items: center; 
        padding: 0px; 
    }
};

.how-col {
    width: 75%; 
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 40px;
}
h1 {
    color: #40a9ff;
} 
h3 {
    text-align: center;
    color: #73d13d; 
}