
.confirmation {
    background: #f5f5f5;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.header-centered {
    text-align: center;
}
.confirm-container {
    text-align: center; 
    
} 