
.item {
    background: #f5f5f5;
    width: 300px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 5px;
    padding: 10px 5px;
    &:hover {
      text-decoration: underline;
      background: aqua;
    }
  }
  
  .grid {
    height: 400px;
    width: 100%;
    background: #333;
  }
  
  .row {
    display: flex;
  }
  