.form-container {
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    height: 50%;
    width: 80%; 
}

.breadcrumb {
    height: 50px; 
    padding-top: 10px;
    background: #6dec67;
    text-align: center;
    color: #fff; 
} 

.interest-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.breadcrumb {
@media (max-width: 435px) {
    padding-top: 0px;
  }
}

.grid-wrapper {
@media (max-width: 435px) {
    display:none;    
  }
}

.grid-mobile{
@media (min-width: 435px) {
    display:none;    
    background-color:yellow;
  }
}
