.form-container {
    height: 80vh; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.form {
    height: 50%;
    width: 80%; 
}

.breadcrumb {
    display: flex;
    justify-content: center;
    height: 50px; 
    background: #6dec67;
    color: #fff; 
    text-align: center;
} 

.interest-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.row {
@media (max-width: 600px) {
    
  margin-right: 0;
  margin-left: 0;}
}

.breadcrumb {
@media (max-width: 435px) {
    padding-top: 2px;
  }
}
