.form-container {
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    height: 50%;
    width: 80%; 
}

.breadcrumb {
    height: 50px; 
    padding-top: 10px;
    background: #6dec67;
    text-align: center;
    color: #fff; 
} 

.interest-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.grid {
    display: flex;
    flex-direction: row;
    flext-wrap: wrap;
}

.row2 {
    width: 33%;
    min-width: 350px;
    display: inline-flex;
    flex-direction: row;
}

.breadcrumb {
@media (max-width: 435px) {
    padding-top: 0px;
  }
}
