.info-section {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.info-section__main-header {
    padding-top: 10px;
    text-align: center;
}

.info-block {
    height: auto;
    width: 1020px;
    margin: 50px auto;
}

.info-content {
    margin-bottom: 20px;
}

.item {
    display: inline-block;
    width: 300px;
    margin: 20px;
}

.item__image {
    height: 340px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-image: url("https://uploads-ssl.webflow.com/5bd9587049a1428ded8eddaf/5bda81bcdad15b9c286bedf8_pexels-photo-1117256.jpeg");
    background-position: 0px 0px, 50% 50%;
    background-size: cover, cover;  
}

.item2__image {
    height: 340px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-image: url("https://uploads-ssl.webflow.com/5bd9587049a1428ded8eddaf/5bda80fc0c3f614d8a844b54_annie-spratt-216207-unsplash.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: cover, cover;  
}

.item3__image {
    height: 340px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-image: url("https://uploads-ssl.webflow.com/5bd9587049a1428ded8eddaf/5bda81bceda01df7dd283dfd_pexels-photo-1006964.jpeg");
    background-position: 0px 0px, 50% 50%;
    background-size: cover, cover;  
}

.item-content {
    margin-bottom: 20px;
}

.item__text {
    color: gray;
}